  <% if (!user) { %>
    <script defer src="https://accounts.google.com/gsi/client"></script>
  <% } %>
</head>
<body>
  <nav>
    <% if (user?.isAdmin)  { %>
      <a href="/profiles">        
        <button type="submit">All Profiles</button>
      </a>
      <a href="/tasks">
        <button type="submit">All Tasks</button>
      </a>
    <% } else if (user) { %>
      <a href="/profiles/<%= user.profile._id %>">        
        <button type="submit" class="btn btn-info">My Profile</button>
      </a>
    <% } %>

    <% if (user) { %>
      <p class="right">hello, <%= user.profile.name %></p>
      <a href="/auth/logout" class="right">
        <button type="submit" class="btn btn-danger">Logout</button>
      </a>
    <% } else { %>
      <div 
        id="g_id_onload"
        data-client_id="<%= googleClientID %>"
        data-login_uri="/auth/google"
        data-auto_prompt="false"
      ></div>
      <div 
        class="g_id_signin right"
        data-type="standard"
        data-size="large"
        data-theme="outline"
        data-text="sign_in_with"
        data-shape="rectangular"
        data-logo_alignment="left"
      ></div>
    <% } %>
  </nav>
