<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div class="card-container">
    <h1 class="req-title">I'm TahoeJesse</h1>
    <p class="req-title">Sign in to view your client portal, where you can request services for the upkeep of your mountain home!</p>
    <br>
    <p class="req-title">I'll update your tasks with any plans I've made to get your getaway ready for your arrival!</p>
  </div>
</main>

<%- include('./partials/footer') %>
