<%- include('./partials/html-head') %>
<%- include('./partials/nav') %>

<main>
  <div>
    <h3>This will be my landing page</h2>
  </div>
  <p>tell users to log in</p>
  <p>explain the business</p>
</main>

<%- include('./partials/footer') %>
